
body {
    font-family: 'open sans';
    overflow-x: hidden; }
  
  img {
    max-width: 100%; }
  
.img-cus{
  width: 350px;
}
.img-cus img{
  width: 350px;
}
.wrapper{
  box-shadow: none !important;
  border: none !important;
}

.headerr{
  padding: 0 0 20px 0 !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  margin-top: 0 !important;
}

.card {
  border: none !important;
}